.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer-wrapper {
  background: linear-gradient(55deg, #d388ff, #5adbff);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px 5px 5px 60px;
}
.top {
  top: 0px;
  background: linear-gradient(55deg, #ffccd2, #96ecff);
  min-height: 250px;
  border-radius: 5px 5px 5px 60px;
}

.timer {
  min-height: 300px;
  border-radius: 0 60px 0 0;
}

.timer-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}
.timer-buttons button {
  padding: 10px;
  margin: 0 5px 0 5px;
  background: linear-gradient(55deg, #ffe0e3, #ffc8f82e);
  border: none;
  border-radius: 5px;
  min-width: 150px;
  font-size: 20px;
  outline-style: none;
  cursor: pointer;
}
.timer-buttons button:hover {
  background: linear-gradient(55deg, #ffcfd4, #ff89ef2e);
}
